.container{
    margin-top: 20px;
    width: 50%;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hh1{
    color:white;
    letter-spacing: 8px;
}
.icon{
    width: 30px;
}
@media screen and (max-width: 600px) {
    .container{
        max-width: 80%;
    }
}

